/* Common styles */
.document-editor-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed; /* Make the sidebar fixed */
  top: 0; /* Stick it to the top */
  left: 0; /* Stick it to the left */
  height: calc(100vh - 40px); /* Full viewport height */
  z-index: 1000; /* Ensure it's above other content */
}

.sidebar ul li {
  display: flex;
  align-items: center;
  margin: 6px 5px;
  padding: 7px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  /* transition: 0.1s; */
}

.sidebar ul li:hover {
  background-color: #d9d9d9;
}

.sidebar ul li.active {
  background: #C1C1D08C;
  color:#34347B;
  font-weight: bold; /* Highlight active text */
}

.sidebar ul li.active img {
  filter: invert(21%) sepia(59%) saturate(802%) hue-rotate(204deg) brightness(93%) contrast(98%);
}

.sidebar ul li img {
  margin-right: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 20px;
}

nav {
  flex-grow: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: flex;
  align-items: center;
  margin: 6px 5px;
  padding: 7px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #d9d9d9;
}

nav ul li img {
  margin-right: 10px;
}

.new-project-button {
  background-color: #34347B;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 500;
}

.main-content {
  margin-left: 20%; /* Offset content to the right of the sidebar */
  width: 80%; /* Adjust width to fit next to the fixed sidebar */
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px 20px 30px 40px;
}

.search-wrapper {
  position: relative;
  width: 100%;
  margin-right: 80px;
  height: 56px;
}

.search-bar {
  top: 0;
  width: 100%;
  padding: 0 20px 0 40px;
  border: 2px solid #CACACA;
  border-radius: 5px;
  /* background-color: #f9f9f9; */
  height: 100%;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  /* border: 1px solid #ddd; */
  padding: 10px 20px;
  border-radius: 5px;
  /* background-color: #f9f9f9; */
  height: 38px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 4px 0px #00000033;
      box-shadow: 0px 0px 4px 0px #00000033;
}

.user-avatar {
  background-color: #34347B;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
}

.user-email {
  color: #888;
}

/* View Toggle Icons */
.view-toggle {
  display: flex;
  justify-content: flex-end;
  /* padding-right: 40px; */
  margin-bottom: 20px;
}

.toggle-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
  padding: 3px;
  /* border: 2px solid #fff; */
}

.toggle-icon.active {
  /* border: 2px solid #34347B; */
  background-color: #ebebeb;
  border-radius: 4px;
}

/* All Projects */
.all-projects {
  padding: 40px 40px 40px 60px;
}

.projects-header {
  display: flex;
  justify-content: space-between;
}

.all-projects-title {
  padding: 0 0 10px 0;
  margin-top: 0;
}

/* Grid view (tile) */
.project-grid.tile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .project-grid.tile {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

@media screen and (max-width: 768px) {
  .project-grid.tile {
    grid-template-columns: repeat(1, 1fr); /* 1 column for small screens */
  }
}

/* List view */
.project-grid.list {
  display: block;
}

.project-card.tile {
  border: 1.5px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.project-card.list {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 15px;
  display: flex;
  align-items: center; /* Align items in the center */
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10px;
}

.project-card.list .project-icon {
  flex-shrink: 0; /* Prevent icon from shrinking */
  width: 40px; /* Make the icon smaller */
}

.project-grid :hover{
  background: #f0f0f0;
}

.project-card.list .project-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.project-card.list .project-name {
  font-weight: bold;
  /* flex-grow: 1; */
}

.project-card.list .project-time {
  color: #888;
  /* text-align: right; */
  white-space: nowrap; /* Prevent the time from wrapping */
}

.project-icon img {
  width: 100%;
  object-fit: contain;
}

.project-details {
  /* margin-top: 10px; */
  text-align: left;
}

.project-name {
  font-weight: bold;
}

.project-time {
  color: #888;
  margin-bottom: 8px;
}
